<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.stepcounter">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:label="Step Counter"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        <meta-data
            android:name="com.yandex.mapkit.ApiKey"
            android:value="18c9d38c-7d26-409c-b392-db8dbffaded9" />
    <service
            android:name=".StepCountingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync">
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".StatisticsActivity" android:exported="true" />
        <activity android:name=".MapActivity" android:exported="true" />
    </application>

</manifest>
